body {
    background-color: #cff3fc;
}

h1 {
    background-color: rgb(217, 210, 235);
    color:black;
    font-size:30px;
    font-weight: 700px;
    text-align: center;
}

img {
    height: 300px;
    width:auto;
    text-align:center;
}

h2 {
    font-size: 25px;
    background-color: #292423;
    color:#fae5e1;
}

h1,
h2 {
    font-family:"Helvetica", Arial, sans-serif;
}

li {
    font-size:14px;
    font-family:"Century Gothic", Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-size: 14px;
    background-color: darkslateblue;
    color:#cff3fc;
}

.name,
.rep {
    color:black;
    font-weight:bold;
}
.birthday {
    color:darkgoldenrod;
    font-style:italic;
}

.fact {
    background-color:blanchedalmond;
    color:#292423;
}

#pink,
#yellow,
#blue,
#green,
#purple {
    text-decoration:underline;
}

#pink {
    color:#ff54c9;
}

#yellow {
    color:#ebdf3a;
}

#blue {
    color: #012761;
}

#green {
    color: #088c084d;
}

#purple {
    color: #ba3bff;
}
